@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Trivia app!</h1>
    <p>This is a simple game, utilizing <a href="https://the-trivia-api.com/">THE TRIVIA API</a> </p>
</div>

<div class="text-end">
   <button type="button" onclick="location.href='@Url.Action("Populate","Home")'" class="btn btn-primary">Populate questions...</button>
</div>

<form asp-action="Search" asp-controller="Home">
   <div class="row">
      <div class="col">
            <label for="SelectedCategory" class="form-label">Categories</label>
            @Html.DropDownList("SelectedCategory",Model.GetCategoriesSelectList(),"Please select category", new {@class="form-select", @id="SelectedCategory"})
      </div>
      <div class="col">
            <label for="SelectedDifficulty" class="form-label">Difficulties</label>
            @Html.DropDownList("SelectedDifficulty",Model.GetDifficultiesSelectList(),"Please select difficulty", new {@class="form-select", @id="SelectedDifficulty"})
      </div>
      <div class="col">
         <label for="QuestionTerm" class="form-label">Question Term</label>
         <input type="text" id="QuestionTerm" name="QuestionTerm" value="@Model.QuestionTerm" class="form-control" />
      </div>
       <div class="col align-self-end">
           <input type="submit" class="btn btn-success btn-lg col-12" value="Search" />
       </div>
   </div>
</form>